<!DOCTYPE html>
<html>

<head>
    <title>Video Stream</title>
</head>

<body>
    <style>
        video {
            width: 100vw;
            height: 100vh;
            object-fit: cover;
            position: fixed;
            top: 0;
            left: 0;
        }
    </style>
    <video id="current-video" autoplay muted playsinline src="/video_feed" type="video/mp4" style=""></video>
    <video id=" next-video" muted playsinline src="/video_feed?index=1" type="video/mp4" style="display: none"></video>
    <script>
        const video = document.getElementById('current-video');
        const nextVideo = document.getElementById('next-video');

        let index = 1;
        let bufferSize = 0;

        video.addEventListener('ended', async () => {
            await switchVideo(video, nextVideo);
        });

        nextVideo.addEventListener('ended', async () => {
            await switchVideo(nextVideo, video);
        });

        async function switchVideo(current, next) {
            index += 1;

            while (this.bufferSize < 1) {
                await new Promise(resolve => setTimeout(resolve, 1000));
                this.bufferSize = await fetch(`/buffer_size?index=${index + 1}`).then(res => res.json());
                console.log('bufferSize', this.bufferSize);
            }

            current.style.display = 'none';
            next.style.display = 'block';
            current.src = `/video_feed?index=${index}`;
            current.load();
            next.play();

            this.bufferSize = await fetch(`/buffer_size?index=${index}`).then(res => res.json());

            video.playbackRate = 0.6 + bufferSize * 0.2;

            console.log('switched');
            console.log('playbackRate', video.playbackRate, 'bufferSize', this.bufferSize);
        }
    </script>
</body>

</html>